# data files
input/scans/*
input/simulations/*
results/*
tmp/*

# basic intellij stuff
.idea/*
out/*

# compiled java
*.class

# compiled python
__pycache__/
*.py[cod]
*$py.class

# log files that the JRE occasionally spits out
*.log